tr.resource-detail-row {
    height: 0;
}

tr.resource-element-row:not(.resource-expanded-row):hover {
    background: whitesmoke;
}

tr.resource-element-row:not(.resource-expanded-row):active {
    background: #efefef;
}

.resource-element-row td {
    border-bottom-width: 0;
}

.resource-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
