<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button color="primary" mat-icon-button matTooltip="编辑" (click)="edit()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
  <mat-card class="" style="width: 100%;">
    <!-- <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header> -->
    <!-- <img mat-card-image src="" alt=""> -->
    <mat-card-content>
      <p>DisplayName: <span class="text-primary">{{data.displayName}}</span></p>
      <p>Name: <span class="text-primary">{{data.name}}</span></p>
      <p>Type: <span class="text-primary">{{data.type}}</span></p>
      <p>IsEnable: <span class="text-primary">{{data.isEnable}}</span></p>
      <p>Required: <span class="text-primary">{{data.required}}</span></p>
      <p>Sort: <span class="text-primary">{{data.sort}}</span></p>
      <p>Id: <span class="text-primary">{{data.id}}</span></p>
      <p>Status: <span class="text-primary">{{data.status}}</span></p>
      <p>CreatedTime: <span class="text-primary">{{data.createdTime}}</span></p>
      <p>UpdatedTime: <span class="text-primary">{{data.updatedTime}}</span></p>

    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button></button>
      <button mat-button></button> -->
    </mat-card-actions>
  </mat-card>
</div>
