<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  添加
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup" (ngSubmit)="add()">
  <div class="d-flex flex-column w-100">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" minlength="" maxlength="100">
      <mat-error *ngIf="name?.invalid">
        {{getValidatorMessage('name')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descriptioin</mat-label>
      <textarea matInput placeholder="Descriptioin" formControlName="descriptioin" minlength="" maxlength="400"
        cols="5"></textarea>
      <mat-error *ngIf="descriptioin?.invalid">
        {{getValidatorMessage('descriptioin')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>环境</mat-label>
      <mat-select formControlName="environmentId">
        <mat-option *ngFor="let item of environments" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="environmentId?.invalid">
        {{getValidatorMessage('environmentId')}}
      </mat-error>
    </mat-form-field>
    <div class="d-flex">
      <button class="d-flex flex-column" mat-flat-button color="primary" type="submit">保存</button>
    </div>
  </div>
</form>
