<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  添加
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup" (ngSubmit)="add()">
  <div class="d-flex flex-column w-100">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" minlength="" maxlength="100">
      <mat-error *ngIf="name?.invalid">
        {{getValidatorMessage('name')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description" minlength="" maxlength="400"
        cols="5"></textarea>
      <mat-error *ngIf="description?.invalid">
        {{getValidatorMessage('description')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Icon</mat-label>
      <textarea matInput placeholder="Icon" formControlName="icon" minlength="" maxlength="300" cols="5"></textarea>
      <mat-error *ngIf="icon?.invalid">
        {{getValidatorMessage('icon')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput placeholder="Color" formControlName="color" minlength="" maxlength="12">
      <mat-error *ngIf="color?.invalid">
        {{getValidatorMessage('color')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>选择属性</mat-label>
      <mat-select formControlName="attributeDefineIds" multiple >
        <mat-option *ngFor="let define of attributeDefines" [value]="define.id">
          {{define.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="d-flex">
      <button class="d-flex flex-column" mat-flat-button color="primary" type="submit">保存</button>
    </div>
  </div>
</form>
