<div *ngIf="!isLoading">
  <mat-toolbar fxLayoutGap="4px">
    <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    分配权限
  </mat-toolbar>
  <mat-selection-list (selectionChange)="selectChange($event)" #grouplist>
    <mat-list-option *ngFor="let group of groups" [selected]="inRole(group.id)" [value]="group.id">
      <span class="d-inline-block">
        <span class="d-inline-block">
          {{group.name}}
        </span>
        <mat-chip-list class="d-inline-block ms-2">
          <mat-chip [style]="{backgroundColor:group.environment?.color,color:'white'}">
            {{group.environment!.name}}
          </mat-chip>
        </mat-chip-list>
      </span>


    </mat-list-option>
  </mat-selection-list>
  <mat-toolbar>
    <button mat-raised-button (click)="selectAll()" color="accent">全选</button>
    <button mat-raised-button (click)="deselectAll()" color="accent" class="ms-2">取消全选</button>
    <button mat-raised-button (click)="save()" color="primary" class="ms-2">
      <mat-icon>save</mat-icon>
      保存
    </button>
  </mat-toolbar>
</div>
