<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
    添加
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup" (ngSubmit)="add()">
  <div class="d-flex flex-column w-100">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name"  minlength="" maxlength="60">
    <mat-error *ngIf="name?.invalid">
    {{getValidatorMessage('name')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>DisplayValue</mat-label>
    <input matInput placeholder="DisplayValue" formControlName="displayValue"  minlength="" maxlength="20">
    <mat-error *ngIf="displayValue?.invalid">
    {{getValidatorMessage('displayValue')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput placeholder="Value" formControlName="value"  minlength="" maxlength="100">
    <mat-error *ngIf="value?.invalid">
    {{getValidatorMessage('value')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>MinValue</mat-label>
    <input matInput placeholder="MinValue" formControlName="minValue"  minlength="" maxlength="40">
    <mat-error *ngIf="minValue?.invalid">
    {{getValidatorMessage('minValue')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>MaxValue</mat-label>
    <input matInput placeholder="MaxValue" formControlName="maxValue"  minlength="" maxlength="40">
    <mat-error *ngIf="maxValue?.invalid">
    {{getValidatorMessage('maxValue')}}
    </mat-error>
  </mat-form-field>
<mat-form-field>
  <mat-label>Status</mat-label>
  <mat-select formControlName="status">
    <mat-option *ngFor="let item of Status | toKeyValue" [value]="item.value">
      {{item.key}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="status?.invalid">
    {{getValidatorMessage('status')}}
  </mat-error>
</mat-form-field>
    <div class="d-flex">
      <button class="d-flex flex-column" mat-flat-button color="primary" type="submit">保存</button>
    </div>
  </div>
</form>

