<div *ngIf="!isLogin" class="row justify-content-center g-0">
  <div class="col-auto" style="text-align: center;">
    <h3>Genars</h3>
    <h1>开发中心</h1>
  </div>
</div>
<div *ngIf="isLogin" class="row mt-1 justify-content-center g-0">
  <div class="col col-auto">
    <mat-button-toggle-group [(ngModel)]="filter.environmentId" aria-label="Environment" (change)="getResourceGroup()">
      <mat-button-toggle [value]="null">全部</mat-button-toggle>
      <mat-button-toggle *ngFor="let item of environments" [value]="item.id" [ngStyle]="{color:item.color}">
        {{item.name}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="row mt-2 g-0 g-2">
    <div class="col col-md-6 col-xl-4 col-xxl-3 col-sm-12 col-12" *ngFor="let group of groups">
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title class="d-flex align-items-center">
            <span [style]="{color:group.environment?.color}">
              {{group.name}}
            </span>
            <mat-chip-list class="ms-1">
              <mat-chip [style]="{backgroundColor:group.environment?.color,color:'white'}">
                {{group.environment?.name}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle [style]="{color:group.environment?.color}">{{group.descriptioin}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-selection-list [multiple]="false" [(ngModel)]="selectedResourceIds" (ngModelChange)="showResource()">
            <mat-list-option *ngFor="let resource of group.resource" [value]="resource.id"
              [matTooltip]="resource.resourceType!.name||''" class="p-1 mb-1">
              <div class="d-flex align-items-center">
                <span>
                  {{resource.name}}
                </span>
                <span class="ms-1" [style]="{color:resource.resourceType?.color}">
                  <mat-icon>{{resource.resourceType?.icon}}</mat-icon>
                </span>
              </div>
              <div mat-line style="color: #888888;">{{resource.description}}</div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>